@font-face {
	font-weight: normal;
	font-family: "roboto regular";
	font-style: normal;

	src: local("Roboto regular"),
	url("../fonts/roboto.woff2") format("woff2"),
	url("../fonts/roboto.woff") format("woff");
}
@font-face {
	font-weight: normal;
	font-family: "roboto bold";
	font-style: normal;

	src: local("Roboto bold"),
	url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
}
@font-face {
	font-weight: normal;
	font-family: "roboto medium";
	font-style: normal;

	src: local("Roboto medium"),
	url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
}
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
						transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
						transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
						transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
						transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
}
@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
						transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
						transform: translateX(10px);
	}
}
@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
						transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
						transform: translateX(10px);
	}
}
* {
	font-family: "roboto regular", Tahoma, sans-serif;
	color: #000000;
}

h1,
h2,
h3 {
	font-family: "roboto bold", Tahoma, sans-serif;
}

.main-header {
	padding-top: 50px;

	background-color: #eeeeee;
}
.main-header .wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}
.main-header .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.main-header .logo {
	float: left;
	width: 160px;
	height: 65px;
	padding-right: 20px;

	background: url("../img/icons.png") no-repeat;
	background-position-y: -58px;
}
.main-header .logo:hover {
	opacity: 0.8;
}
.main-header .logo:active {
	opacity: 0.3;
}
.main-header nav {
	float: left;
}
.main-header ul {
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-left: 183px;

	font-size: 0;
}
.main-header li {
	display: inline-block;
	margin-right: 46px;

	vertical-align: top;
	vertical-align: top;
}
.main-header li:last-child {
	margin-right: 0;
}
.main-header a {
	padding-bottom: 9px;

	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	font-family: "roboto regular", Tahoma, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.main-header a:hover {
	color: #fb565a;
}
.main-header a:active {
	color: #000000;

	opacity: 0.3;
}
.main-header .active {
	padding-bottom: 11px;

	border-bottom: 2px solid #fb565a;
}

.user-cart {
	position: relative;

	float: right;

	text-align: right;
}
.user-cart a {
	display: inline-block;
	padding-top: 31px;
	padding-bottom: 0;
	padding-left: 38px;

	vertical-align: top;
}
.user-cart a:before {
	content: "";
	position: absolute;
	top: 32px;
	left: -1px;

	width: 15px;
	height: 15px;

	background: url("../img/icons.png") no-repeat;
	background-position: -88px -33px;
}
.user-cart .active {
	color: #fb565a;
}

.page-title {
	background-color: #eeeeee;
}
.page-title h1 {
	margin: 0;
	padding-top: 66px;
	padding-bottom: 104px;

	font-size: 55px;
	text-align: center;
}

.catalog {
	padding-top: 58px;
}
.catalog .wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}
.catalog .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.catalog-list:after {
	content: "";

	display: table;
	clear: both;
}
.catalog-left {
	float: left;
	width: 261px;
	padding-right: 20px;
}
.catalog-right {
	float: right;
	width: 800px;
	padding-left: 79px;
}
.catalog fieldset {
	margin: 0;
	margin-bottom: 33px;
	padding: 0;

	border: none;
}
.catalog legend {
	margin-bottom: 18px;

	font-weight: bold;
	font-size: 18px;
	font-family: "roboto bold", Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.8px;

	cursor: default;
}
.catalog input[type="submit"] {
	margin-top: 0;
	padding: 15px 89px;
	padding-top: 16px;

	font-weight: 500;
	font-family: "roboto medium", Tahoma, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee;
	border: none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
.catalog input[type="submit"]:hover {
	background-color: #dfdfdf;
}
.catalog input[type="submit"]:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d5d5d5;
	outline: none;
	box-shadow: inset 0 5px 3px 0 #bfbfbf;
}
.catalog-item {
	position: relative;

	float: left;
	width: 360px;
	max-height: 574px;
	margin-bottom: 38px;
	margin-left: 40px;
	padding-top: 40px;

	background: url("../img/project/browser.png") no-repeat;
	background-position: -1px -40px;
	cursor: pointer;
}
.catalog-item:hover {
	background: url("../img/project/browser.png") no-repeat top left;
	box-shadow: 0 6px 15px 0 rgba(51, 51, 51, 0.25);
}
.catalog-item:hover .item-info {
	display: block;
}
.catalog .item-desc {
	max-height: 90px;
	margin-right: 70px;
	margin-left: 70px;
	overflow-y: hidden;

	color: #646464;
}

.catalog .item-info {
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;

	display: none;
	max-height: 250px;
	overflow: hidden;

	text-align: center;

	background-color: #eeeeee;
}
.catalog .item-title {
	width: 360px;
	margin-top: 32px;
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.item-title a {
	text-decoration: none;
}
.catalog .btn {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 41px;
	padding: 16px 61px;
	padding-bottom: 15px;

	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	border-radius: 4px;
}
.catalog .btn-red {
	background-color: #fb565a;
}
.catalog .btn-red:hover {
	background-color: #e74246;
}
.catalog .btn-red:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 1px #c13135;
}
.catalog-sort {
	padding-bottom: 55px;
	padding-left: 40px;
}
.catalog-sort:after {
	content: "";

	display: table;
	clear: right;
}
.catalog-sort strong {
	float: left;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.catalog-sort ul {
	display: -webkit-flex;
	display:		-moz-flex;
	display:		 -ms-flex;
	display:			-o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display:				 flex;
	-webkit-justify-content: space-between;
					justify-content: space-between;
	float: right;
	width: 360px;
	padding-top: 4px;
	padding-left: 0;

	font-size: 0;
	text-align: right;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}
.catalog-sort li {
	padding-right: 13px;
}
.catalog-sort li:last-child {
	padding-right: 0;
}
.catalog-sort a {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;

	opacity: 0.3;
}
.catalog-sort a:hover {
	opacity: 0.6;
}
.catalog-sort a:active,
.catalog-sort a:focus {
	opacity: 1;
}
.catalog .sort-up {
	position: relative;
	top: 2px;

	font-size: 0;

	border: 10px solid transparent;
	border-right-width: 5px;
	border-bottom-color: #000000;
	border-left-width: 5px;
}
.catalog .sort-dw {
	position: relative;
	top: 12px;
	right: -10px;

	font-size: 0;

	border: 10px solid transparent;
	border-top-color: #000000;
	border-right-width: 5px;
	border-left-width: 5px;
}
.catalog .range-filter {
	height: 204px;
	margin-top: 2px;
	margin-bottom: 60px;
}
.catalog .price-controls {
	text-transform: uppercase;
}
.catalog .range-controls {
	position: relative;

	height: 80px;
	margin-top: 34px;
	margin-bottom: 14px;

	background-color: #eeeeee;
	border-radius: 4px;
}
.catalog .scale {
	position: absolute;
	top: 40px;
	left: 20px;

	width: 219px;
	height: 2px;

	background: -webkit-linear-gradient(left, #00ca74, #00ca74 152px, #d7dcde 152px, #d7dcde);
	background:				 linear-gradient(to right, #00ca74, #00ca74 152px, #d7dcde 152px, #d7dcde);
}
.catalog .toggle {
	position: absolute;
	top: 32px;

	width: 19px;
	height: 19px;

	background: -webkit-radial-gradient(#b2b2b2 2px, #ffffff 2px, #ffffff);
	background:				 radial-gradient(#b2b2b2 2px, #ffffff 2px, #ffffff);
	border-radius: 50%;
	box-shadow: 0 1px 1px 0 #b2b2b2;
	cursor: pointer;
}
.catalog .min-toggle {
	left: 20px;
}
.catalog .max-toggle {
	left: 161px;
}
.catalog .min-price,
.catalog .max-price {
	width: 50px;
	width: 80px;
	height: 38px;
	margin-right: 30px;
	margin-left: 8px;

	text-align: center;

	background-color: #eeeeee;
	border: 0;
	border-radius: 4px;
}
.catalog .min-price:last-child,
.catalog .max-price:last-child {
	margin-right: 0;
	margin-left: 7px;
}
.catalog .min-price:focus,
.catalog .max-price:focus {
	outline: none;
}
input[type="radio"],
input[type="checkbox"] {
	display: none;
}
input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 25px;
	height: 25px;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
	margin-bottom: 15px;

	color: #283136;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 25px;
	height: 25px;
}
input[type="radio"] + label:before {
	color: #283136;

	background: url("../img/icons.png") no-repeat -27px -2px;
	opacity: 0.4;
}
input[type="radio"]:checked + label:before {
	color: #283136;

	background: url("../img/icons.png") no-repeat 0 -2px;
	opacity: 0.4;
}
input[type="radio"] + label:hover:before {
	opacity: 1;
}
input[type="radio"]:disabled + label:before {
	background: url("../img/icons.png") no-repeat -27px -2px;
	opacity: 0.1;
}
input[type="radio"]:disabled + label {
	color: #ededed;
}
input[type="checkbox"] + label:before {
	background: url("../img/icons.png") no-repeat -83px -3px;
	opacity: 0.4;
}
input[type="checkbox"]:checked + label:before {
	background: url("../img/icons.png") no-repeat -54px -3px;
	opacity: 0.4;
}
input[type="checkbox"] + label:hover:before {
	opacity: 1;
}
input[type="checkbox"]:disabled + label:before {
	background: url("../img/icons.png") no-repeat -83px -3px;
	opacity: 0.1;
}
input[type="checkbox"]:disabled + label {
	color: #ededed;
}
.catalog label {
	position: relative;

	display: inline-block;
	padding-left: 37px;

	line-height: 25px;
	vertical-align: top;
}

.pagination {
	margin: 0;
	padding-top: 27px;
	padding-left: 40px;

	font-size: 0;
}
.pagination li {
	display: inline-block;
	margin-right: 10px;

	vertical-align: top;
}
.pagination a {
	display: inline-block;
	box-sizing: border-box;
	padding: 14px 21px;
	padding-top: 18px;

	font-size: 16px;
	vertical-align: top;
	text-decoration: none;

	background-color: #eeeeee;
	border-radius: 4px;
}
.pagination a:active {
	color: #959595;

	background-color: #d5d5d5;
	box-shadow: inset 0 5px 3px 0 #bfbfbf;
}
.pagination a:hover {
	background-color: #dfdfdf;
}
.pagination .pagination-next {
	padding: 18px 79px;
	padding-bottom: 15px;

	font-weight: bold;
	text-transform: uppercase;
}

.pagination .active {
	padding: 12px 19px;
	padding-top: 16px;

	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	cursor: default;
}
.pagination .active:hover {
	color: #000000;

	background-color: #ffffff;
	box-shadow: none;
}

.slider {
	position: relative;

	background-color: #eeeeee;
}
.slider input[type="radio"] {
	display: none;
}
.slider .wrapper {
	position: relative;

	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}
.slider .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.slider-info {
	position: relative;
	z-index: 99;

	display: none;
	float: left;
	box-sizing: border-box;
	width: 100%;
	min-height: 422px;
	padding-top: 67px;
}
.slider-info:nth-child(1) {
	background: url("../img/slider/slide1.png") no-repeat right 33px bottom;
}
.slider-info:nth-child(2) {
	background: url("../img/slider/slide2.png") no-repeat right bottom;
}
.slider-info:nth-child(3) {
	background: url("../img/slider/slide3.png") no-repeat right bottom;
}
.slider-desc {
	margin-top: 0;
	margin-bottom: 20px;

	line-height: 24px;
	color: #283136;
}
.slider .lead {
	margin-top: 0;
	margin-bottom: 29px;

	font-weight: bold;
	font-size: 55px;
	line-height: 55px;
	font-family: "roboto medium", Tahoma, sans-serif;
}
.slider .btn {
	display: inline-block;
	margin-top: 19px;
	margin-bottom: 20px;
	padding: 17px 55px;
	padding-bottom: 15px;

	font-weight: 500;
	vertical-align: top;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
}
.slider .btn:hover {
	background-color: #e74246;
}
.slider .btn:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 1px #c13135;
}
.slider-images {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;

	float: right;
	width: 730px;

	font-size: 0;
}
.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 50%;
	z-index: 108;

	width: 200px;
	margin-left: -100px;

	font-size: 0;
	text-align: center;
}
.slider-controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 8.5px;
	margin-left: 8.5px;

	vertical-align: top;
	text-align: center;

	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
label.active:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;

	width: 4px;
	height: 4px;

	border: 2px solid #c4c4c4;
	border-radius: 50%;
}

#slider-1:checked ~ .wrapper .slider-info:nth-child(1),
#slider-2:checked ~ .wrapper .slider-info:nth-child(2),
#slider-3:checked ~ .wrapper .slider-info:nth-child(3) {
	display: block;
}

#slider-1:checked ~ .wrapper #slider-active-1:before,
#slider-2:checked ~ .wrapper #slider-active-2:before,
#slider-3:checked ~ .wrapper #slider-active-3:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;

	width: 4px;
	height: 4px;

	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.features {
	padding-top: 80px;
}
.features .wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 80px;

	border-bottom: 2px solid #eeeeee;
}
.features .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 100px;

	font-size: 0;
}
.features-item:last-child {
	margin-right: 60px;
}
.features-title {
	margin-bottom: 12px;

	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
}
.features-desc {
	margin-right: 20px;
	margin-bottom: 20px;

	font-size: 16px;
	line-height: 24px;
	color: #283136;
}
.features .btn {
	display: inline-block;
	margin-top: 12px;
	padding: 17px 40px;
	padding-bottom: 15px;

	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	border-radius: 4px;
}
.features .btn-red {
	background-color: #fb565a;
}
.features .btn-red:hover {
	background-color: #e74246;
}
.features .btn-red:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 1px #c13135;
}
.features .btn-green {
	background-color: #00ca74;
}
.features .btn-green:hover {
	background-color: #00bc6c;
}
.features .btn-green:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;
	box-shadow: inset 0 3px 0 1px #009958;
}
.features .btn-yellow {
	background-color: #efc84a;
}
.features .btn-yellow:hover {
	background-color: #eab534;
}
.features .btn-yellow:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e5a722;
	box-shadow: inset 0 3px 0 1px #ce961f;
}

.about {
	padding-top: 40px;
}
.about .wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 47px;

	border-bottom: 2px solid #eeeeee;
}
.about .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.about strong {
	font-size: 16px;
	text-transform: uppercase;
}
.about-left {
	float: left;
	width: 660px;
	padding-right: 20px;
}
.about-left ul {
	margin-top: 30px;
	padding-left: 35px;

	list-style: none;
}
.about-left li {
	position: relative;

	margin-bottom: 30px;

	font-family: "roboto medium", Tahoma, sans-serif;
}
.about-left li:before {
	content: "";
	position: absolute;
	top: 9px;
	left: -34px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}
.about-right {
	float: right;
	width: 360px;
}
.about-right ul {
	margin: 0;
	padding-left: 0;

	font-size: 0;
}
.about-right li {
	display: inline-block;
	width: 100px;
	padding-right: 16px;
	padding-left: 2px;

	list-style: none;
	vertical-align: top;
}
.about-right li:last-child {
	padding-right: 0;
}
.about-right strong {
	position: relative;

	font-size: 45px;
	font-family: "roboto bold", Tahoma, sans-serif;
}
.about-right strong:after {
	content: "%";
	position: absolute;
	top: 5px;
	right: -18px;

	font-weight: bold;
	font-size: 24px;
}
.about p {
	margin-top: 16px;

	font-size: 16px;
	line-height: 18px;
	color: #283136;
}
.about img {
	margin-bottom: 34px;
}
.about-counters {
	margin-bottom: 41px;

	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.about .lead {
	margin-top: 31px;
	margin-bottom: 36px;

	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	font-family: "roboto medium", Tahoma, sans-serif;
}
.about .desc {
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.clients .wrapper {
	display: -webkit-flex;
	display:		-moz-flex;
	display:		 -ms-flex;
	display:			-o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display:				 flex;
	-webkit-justify-content: space-around;
					justify-content: space-around;
	-webkit-align-items: center;
					align-items: center;
	width: 1160px;
	margin-right: auto;
	margin-bottom: 80px;
	margin-left: auto;
	padding-top: 47px;
	padding-bottom: 39px;

	border-bottom: 2px solid #eeeeee;

	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-flex-pack: distribute;
}
.clients img {
	opacity: 0.2;
}
.clients img:hover {
	opacity: 1;
}
.clients img:active {
	opacity: 0.1;
}
.clients .img-divider {
	width: 1px;
	height: 50px;

	background-color: #eeeeee;
}

.map {
	position: relative;

	min-height: 415px;
	margin-top: 60px;

	background-image: url("../img/map.jpg");
	-webkit-background-size: cover;
					background-size: cover;
}
.map .wrapper {
	width: 1160px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}
.map-block {
	position: absolute;
	top: 54px;
	z-index: 99;

	box-sizing: border-box;
	width: 319px;
	padding: 40px 50px;
	padding-bottom: 48px;

	background-color: #ffffff;
}
.map-address {
	margin-bottom: 19px;
}
.map h2 {
	margin-bottom: 28px;

	font-size: 18px;
	font-family: "roboto bold", Tahoma, sans-serif;
}
.map .btn {
	display: inline-block;
	margin-top: 21px;
	padding: 18px 44px;
	padding-bottom: 14px;

	font-weight: 500;
	vertical-align: top;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
}
.map .btn:hover {
	background-color: #e74246;
}
.map .btn:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 1px #c13135;
}

.footer .wrapper {
	width: 1160px;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
}
.footer .wrapper:after {
	content: "";

	display: table;
	clear: both;
}
.footer-item {
	float: left;
	width: 320px;

	font-size: 0;
}
.footer-item .social-icon {
	display: inline-block;
	width: 79px;
	height: 79px;
	margin-right: 12px;

	line-height: 79px;
	vertical-align: top;
	vertical-align: top;
	text-align: center;

	background-color: #e1e1e1;
	border-radius: 50%;
}
.footer-item .social-icon:hover {
	background-color: #e74246;
}
.footer-item .social-icon:active {
	background-color: #d7373b;
}
.social-icon:active {
	box-shadow: inset 0 3px 0 1px #c13135;
}
.social-icon:active .social-img {
	opacity: 0.3;
}
.social-img {
	display: inline-block;
	margin: 0 auto;

	line-height: 79px;
	vertical-align: middle;
}
.social-icon .social-vk {
	width: 26px;
	height: 15px;

	background: url("../img/icons.png") no-repeat;
	background-position: -55px -34px;
}
.social-icon .social-fb {
	width: 12px;
	height: 22px;

	background: url("../img/icons.png") no-repeat;
	background-position: -34px -33px;
}
.social-icon .social-ins {
	width: 21px;
	height: 21px;

	background: url("../img/icons.png") no-repeat;
	background-position: -2px -34px;
}
.footer-info {
	float: right;
	width: 760px;
}
.footer .frendly {
	padding-top: 6px;

	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	font-family: "roboto medium", Tahoma, sans-serif;
}

.modal {
	position: relative;
	position: fixed;
	top: 50px;
	left: 50%;
	z-index: 999;

	display: none;
	box-sizing: border-box;
	width: 960px;
	min-height: 590px;
	margin-left: -480px;
	padding: 100px;
	padding-top: 64px;
	padding-bottom: 90px;

	font-size: 0;

	background: #ffffff;
	box-shadow: 0 10px 40px 5px #333333;
}
.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 888;

	display: none;

	background-color: transparent;
}
.modal-overlay-show {
	display: block;
}
.modal-show {
	display: block;

	-webkit-animation: bounce 0.8s;
					animation: bounce 0.8s;
}
.modal .modal-error {
	color: #e74246;

	border-color: #e74246;

	-webkit-animation: shake 0.6s;
					animation: shake 0.6s;
}
.modal-close {
	position: absolute;
	top: 79px;
	right: 91px;

	width: 22px;
	height: 22px;

	background: transparent;
	border: none;
	cursor: pointer;
}
.modal-close:focus {
	outline: none;
}
.modal-close:after,
.modal-close:before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;

	width: 25px;
	height: 4px;

	background-color: #fb565a;
}
.modal-close:after {
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
}
.modal-close:before {
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
}
.modal-title {
	margin-top: 0;
	margin-bottom: 38px;

	font-size: 45px;
}
.modal-name {
	display: inline-block;
	margin-bottom: 9px;

	font-weight: bold;
	font-size: 16px;
	vertical-align: top;
}
.modal label[for="name"] {
	float: left;
	box-sizing: border-box;
	width: 50%;
	width: 360px;
	margin-right: 20px;
}
.modal label[for="email"] {
	float: right;
	box-sizing: border-box;
	width: 50%;
	width: 360px;
	margin-left: 20px;
}
.modal label[for="text"] {
	box-sizing: border-box;
	width: 100%;
	margin-top: 35px;
}
.modal input[type="submit"] {
	width: auto;
	height: auto;
	margin-top: 48px;
	padding: 16px 82px;
}
.modal label {
	display: inline-block;

	vertical-align: top;
}
.modal input {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 13px;

	font-size: 16px;

	border: 2px solid #d7dcde;
}
.modal input:hover {
	border-color: #b4b9bb;
}
.modal input:focus {
	border-color: #000000;
	outline: none;
}
.modal textarea {
	box-sizing: border-box;
	width: 100%;
	min-height: 118px;
	padding: 10px;
	padding-left: 13px;

	font-size: 16px;

	border: 2px solid #d7dcde;

	resize: none;
}
.modal textarea:hover {
	border-color: #b4b9bb;
}
.modal textarea:focus {
	border-color: #000000;
	outline: none;
}
.modal .btn {
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	border: 0;
	border-radius: 4px;
}
.modal .btn-red {
	background-color: #fb565a;
}
.modal .btn-red:hover {
	background-color: #e74246;
}
.modal .btn-red:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 1px #c13135;
}